:root {
  color-scheme: light dark;
}
:root {
  --bg: #fafafa;
  --fg: #111827;
  --muted: #64748b;
  --card: #fff;
  --border: #e2e8f0;
  --primary: #6366f1;
  --primary-fg: #fff;
  --accent: #14b8a6;
  --warn: #eab308;
  --danger: #ef4444;
  --transparent: transparent;
  /* DONE */
  --status-done-bg: #dcfce7; /* green-100 */
  --status-done-fg: #166534; /* green-800 */
  --status-done-ring: #86efac; /* green-300 */

  /* ACTIVE */
  --status-active-bg: #fef9c3; /* yellow-100 */
  --status-active-fg: #a16207; /* yellow-700 */
  --status-active-ring: #fde68a; /* yellow-300 */
}
.dark {
  --bg: #282828;
  --fg: #e2e8f0;
  --muted: #94a3b8;
  --card: #1f1f1f;
  --border: #2d304d;
  --primary: #6366f1;
  --primary-fg: #111827;
  --accent: #14b8a6;
  --warn: #eab308;
  --danger: #ef4444;
  --transparent: transparent;
  /* DONE */
  --status-done-bg: rgba(34, 197, 94, 0.14);
  --status-done-fg: #22c55e;
  --status-done-ring: rgba(34, 197, 94, 0.35);

  /* ACTIVE */
  --status-active-bg: rgba(245, 158, 11, 0.14);
  --status-active-fg: #f59e0b;
  --status-active-ring: rgba(245, 158, 11, 0.35);
}
body {
  @apply bg-[var(--bg)] text-[var(--fg)];
}
